In [1]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score,mean_absolute_error, mean_squared_error
import numpy as np

In [2]:
# 모듈 호출
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
import numpy as np
import random as rd
import numpy as np
from fbprophet import Prophet

Importing plotly failed. Interactive plots will not work.

In [3]:
df = pd.read_csv('True.csv', encoding='cp949')
df.head()

,시점,시군산지,일자,품종,도매가격.원.kg.,거래량.톤.,거래금액.백만원.,마늘.면적..ha.,X10a당.생산량..kg.,생산량..톤.,X10a당.생산량.톤,평균,평균기온..C.,일강수량.mm.,평균.풍속.m.s.,합계.일조시간.hr.,평균.지면온도..C.,평균.5cm.지중온도..C.
0,2015,철원,2015-07-11,기타,5833,0.02,0.11,307,777,2385,0.777,0.02,19.655000,6.984375,1.670718,6.382320,21.770166,22.154190
1,2015,철원,2015-07-10,기타,6875,0.02,0.11,307,777,2385,0.777,0.02,19.635556,6.984375,1.661326,6.392265,21.734254,22.115642
2,2015,평창,2015-08-06,햇마늘 한지,10000,0.01,0.10,307,777,2385,0.777,0.01,19.214917,7.308475,1.570166,6.323204,21.660773,22.070950
3,2015,홍천,2015-09-21,저장형 한지,3125,0.04,0.13,307,777,2385,0.777,0.04,15.548066,7.444286,1.483425,4.768508,17.203867,17.888268
4,2016,강릉,2016-07-02,햇마늘 한지,2500,0.04,0.10,180,807,1452,0.807,0.04,20.027072,11.755263,1.431492,6.052486,23.000552,22.607735

In [ ]:
trainData = np.genfromtxt(df,delimiter=',', skip_header=1)
X_train = trainData[:,:-1]
y_train = trainData[:,-1]

Error: Session cannot generate requests