In [31]:
import pandas as pd

In [33]:
test = pd.read_csv("정선.csv",encoding='euc=kr')

a=[]
for i in range(0,2557-180):
    a.append(test.loc[i:i+180])
b=[]
for i in range(len(a)):
    b.append(a[i].mean())
    
c=pd.DataFrame(b[0]).T
for i in range(1,len(b)):
    d=pd.DataFrame(b[i]).T
    c = pd.concat([c,d])
c

c.to_csv('생육기간.csv', encoding= 'cp949', index= False)

In [34]:
test

,Unnamed: 0,지점,지점명,일자,평균기온..C.,최저기온..C.,최저기온.시각.hhmi.,최고기온..C.,최고기온.시각.hhmi.,강수.계속시간.hr.,...,X0.5m.지중온도..C.,X1.0m.지중온도..C.,X1.5m.지중온도..C.,X3.0m.지중온도..C.,X5.0m.지중온도..C.,합계.대형증발량.mm.,합계.소형증발량.mm.,X9.9강수.mm.,기사,안개.계속시간.hr.
0,1,217,정선,2014-01-01,3.3,-1.3,649,5.1,1654,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,217,정선,2014-01-02,-0.5,-4.8,2353,5.7,1310,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,217,정선,2014-01-03,-0.3,-6.2,245,7.1,1431,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,217,정선,2014-01-04,-1.3,-5.2,605,2.9,1423,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,217,정선,2014-01-05,-0.6,-4.7,2351,4.9,1448,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,2553,217,정선,2020-12-27,0.1,-4.2,18,7.4,1458,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2553,2554,217,정선,2020-12-28,1.6,-2.6,49,9.9,1309,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2554,2555,217,정선,2020-12-29,-0.3,-5.0,611,7.2,1324,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2555,2556,217,정선,2020-12-30,-9.3,-13.0,2354,-0.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2556,2557,217,정선,2020-12-31,-9.9,-15.5,723,-4.1,1500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:

b = test['일자'].iloc[90:]

a = pd.read_csv('생육기간.csv', encoding= 'cp949')

c = pd.concat([a,b], axis= 1)

c.to_csv('생육기간.csv', encoding= 'cp949', index= False)